@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
    padding: 10px 10px;
}

.hero-image {
    height: 100%;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    background: rgb(237,196,84);
    background: linear-gradient(35deg, rgba(237,196,84,1) 0%, rgba(237,119,84,1) 100%);
    position: relative;
    z-index: 40;
}

.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}
.menu {
    width: 85%;
    height: inherit;
    float: right;
}
.menu ul {
    width: 90%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex; 
    padding-left: 56%;
}
.menu ul a {
    width: 7%;
    text-align: center;
    height: inherit;
    color: #E0FBFC;
    display: inline-block;
}
.menu ul a:hover {
    background-color: #293241;
    font-weight: 700;
    color: #E0FBFC;
}

.navbar {
    position: fixed;
    padding-top: 28%;
    width: 100%;
    height: 10%;
    z-index: 90;
  }
  
  .navbar__logo {
    position: absolute;
    left: 120px;
    width: 160px;
    top: 75%;
    transform: translateY(-70%);
  }
  
  .navbar__logo_ns {
    position: absolute;
    left: 120px;
    width: 130px;
    top: 15%;
    transform: translateY(-70%);
    padding-bottom: 6px;
  }
  
  .navbar__links {
    position: absolute;
    opacity: 1;
    right: 50px;
    flex-basis: 30%;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
  }
  
  .navbar__links a {
      color: #455e6d;
      font-family: 'Exo 2', sans-serif;
      font-weight: 600;
      font-size: 1.2em;
      text-decoration: none;
  }
  
  .navbar__links a li {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 0 40px;
      transition: 0.2s linear;
  }
  
  .navbar__links a li:hover {
      color: #3f80aa;
  }
  
  .navbar__links a li:active {
      color: #bb7146;
  }
  
  .navbar__links_ns {
    position: absolute;
    opacity: 1;
    right: 50px;
    flex-basis: 30%;
    display: flex;
    top: 10%;
    transform: translateY(-50%);
    list-style-type: none;
  }
  
  .navbar__links_ns a {
      color: #F1FBFE ;
      font-family: 'Exo 2', sans-serif;
      font-weight: 600;
      font-size: 1.2em;
      text-decoration: none;
  }
  
  .navbar__links_ns a li {
      display: flex;
      align-items: center;
      height: 70px;
      padding: 0 40px;
      transition: 0.2s linear;
  }
  
  .navbar__links_ns a li:hover {
      color: #54CAED;
  }
  
  .navbar__links_ns a li:active {
      color: #bb7146;
  }
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 80px;
        background-color: #3D5A80;
        padding: 0px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 80px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px; 
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}
